nav {
    background: white;
    padding: 20px 0;
    position: relative;
    width: 100vw;
    top: 0;
}
nav > .container {
  display: flex;
  justify-content: space-between;
}
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;

  
  }
  
  nav ul > * {
    margin-right: 1rem;
  }
  
  .nav-link{
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul .logo{
      align-self: center;
      font-size: 1.8rem;
      font-weight: bolder;
  }
  
  
  
  