
.login-container{
    padding: 10px;
    height: fit-content;
    text-align: left;
}

.login-container h2{
    text-align: left;
    font-weight: bolder;
}

.login-form{
  font-size: 1rem;
  padding: 30px;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 10px 40px rgba(0, 119, 255, 0.1);
}

.login-button{
   margin: 20px auto;
   width: 100%;
}
